<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutChangesToGlobalState="false"
         failOnRisky="false"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Doctrine Export Bundle Test Suite">
            <directory>tests</directory>
            <exclude>tests/Performance</exclude>
        </testsuite>
        <testsuite name="Performance">
            <directory>tests/Performance</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Resources</directory>
        </exclude>
    </source>
</phpunit>
