services:
    _defaults:
        autowire: true
        autoconfigure: true

    Ecourty\DoctrineExportBundle\:
        resource: '../../'
        exclude: '../../{DependencyInjection,Enum,Exception,Resources,Contract}'

    Ecourty\DoctrineExportBundle\Service\ExportStrategyRegistry:
        arguments:
            $strategies: !tagged_iterator doctrine_export.strategy

    Ecourty\DoctrineExportBundle\Service\DefaultEntityProcessor:
        arguments:
            $propertyAccessor: '@property_accessor'
            $valueNormalizer: '@Ecourty\DoctrineExportBundle\Service\ValueNormalizer'
            $managerRegistry: '@doctrine'

    Ecourty\DoctrineExportBundle\Service\EntityProcessorChain:
        arguments:
            $defaultProcessor: '@Ecourty\DoctrineExportBundle\Service\DefaultEntityProcessor'
            $optionsResolver: '@Ecourty\DoctrineExportBundle\Service\ExportOptionsResolver'

    Ecourty\DoctrineExportBundle\Service\DoctrineExporter:
        public: true
        arguments:
            $managerRegistry: '@doctrine'
            $processorChain: '@Ecourty\DoctrineExportBundle\Service\EntityProcessorChain'

    Ecourty\DoctrineExportBundle\Contract\DoctrineExporterInterface:
        alias: Ecourty\DoctrineExportBundle\Service\DoctrineExporter
        public: true
